<h1>投稿一覧</h1>

<% @items.each do |item| %>
<%= link_to admin_item_path(item.id) do %>
    <div><%= item.user.last_name %><%= item.user.first_name %></div>
    <div><%= item.name %></div>
    <div><%= item.title %></div>
    <div><%= item.body %></div>
  <% end %>
<% end %>