<table>
  <tbody>
      <% item.comments.each do |comment| %>
      <tr>

        <td>
          <%= link_to public_user_path(comment.user) do %>
            <%= image_tag comment.user.get_profile_image, size: "100x100" %><br>
            <%= comment.user.last_name %>
          <% end %>
        </td>
        <td><%= comment.comment %></td>
        <td>
          <% if comment.user == current_user %>
            <%= link_to "Destroy", public_item_comment_path(item, comment), method: :delete, class: "btn btn-danger pull-right" %>
          <% end %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>