<!--コメント一覧の部分-->
<table>
  <tbody>
      <% item.comments.each do |comment| %>
      <tr>

        <td>
          <%= link_to public_user_path(comment.user) do %>
            <%= image_tag comment.user.get_profile_image, size: "60x60" %><br>
            <%= comment.user.last_name %><%= comment.user.first_name %>
          <% end %>
        </td>
        <!--コメントの部分を吹き出しにするCSS-->
        <td class= fukidasi ><%= comment.comment %></td>
        <td>
          <% if comment.user == current_user %>
            <%= link_to "削除する", public_item_comment_path(item, comment), method: :delete, class: "btn btn-danger pull-right" %>
          <% end %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>