<div style="text-align: center">
<img src="assets/cake1.jpg">
        <p><h6>お掃除好きの集いへようこそへ♪<br>
        このサイトは、オススメのお掃除用品を<br>
        共有し合える、レビューサイトです♪<br>
        会員でない方も商品の閲覧はできますが、<br>
        投稿には会員登録が必要になります。<br>
        </h6></p>
</div>


    <div class="container">

      <h3 class="recommended-items"><i class="fas fa-star"></i> 新着投稿商品 <i class="fas fa-star"></i></h3>

      <!-- 商品を4つ表示するようにする -->
        <div class="col-xs-9 col-xs-offset-1">
          <div class="flex">
            <% @items.last(4).each do |item| %>
              <div class="box" style="float:left; margin-right:80px;">
                <%= link_to public_items_index_path(item.id) ,style: "color: black;", data: {"turbolinks" => false} do %>
                  <% if item.image.attached? %>

                  <%= image_tag item.image, size: "180x125" %>
                  <% else %>

　                <%= image_tag 'no_image.jpg', size: "180x125" %>
                  <% end %>
                  <br>
                  <%= item.name %><br>
                  <% end %>
              </div>
                  <% end %>
            <div>
        </div>

        <br>
          </div>
    <div class="pull-right">
    <h5><%= link_to "全ての商品を見る＞", public_items_index_path %></h5>
    </div>