<div class="container">
  <div class="col-xs-12">
    <h3><strong>マイページ</strong></h3>
        <table class="table table-bordered table-condensed">
            <p>
                <strong class="information-link">登録情報</strong>
                <%= link_to " 編集する", public_customers_edit_path, class: "btn btn-success" %>
            </p>
            <tr>
                <td class="col-xs-2">氏名</td>
                <td><%= @customer.last_name %>&nbsp;<%= @customer.first_name %></td>
            </tr>

            <tr>
                <td class="col-xs-2">カナ</td>
                <td><%= @customer.last_name_kana %>&nbsp;<%= @customer.first_name_kana %></td>
            </tr>

            <tr>
                <td class="col-xs-2">電話番号</td>
                <td><%= @customer.telephone_number %></td>
            </tr>

            <tr>
                <td class="col-xs-2">メールアドレス</td>
                <td><%= @customer.email %></td>
            </tr>
        </table>
  <div>
</div>