<div class = "container">

      <h2>会員情報編集</h2>

        <%= form_with model: @user, url: public_user_path, method: :PATCH do |f| %>


        　<div class="field">
            <%= f.label :氏名 %>
            <%= f.text_field :last_name, autofocus: true, autocomplete: "email" %>
            <%= f.text_field :first_name, autofocus: true, autocomplete: "email" %>
         </div>


         <div class="field">
            <%= f.label :フリガナ %>
            <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "email" %>
            <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "email" %>
         </div>

         <div class="field">
            <%= f.label :メールアドレス %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
         </div>


         <%= f.submit "編集内容を保存する", class: "btn btn-success"%>
         <% end %>
         <%= link_to "退会する", unsubscribe_path, class: "btn btn-danger withdraw_page_btn"%>
     </div>
  </div>
</div>