<!--会員マイページ画面-->

<div class="container">
  <div class="col-xs-12">
    <h3><strong>マイページ</strong></h3>
        <table class="table table-bordered table-condensed">
            <p>
                <strong class="information-link">登録情報</strong>
                <%= link_to " 編集する", edit_public_user_path, class: "btn btn-success" %>
            </p>


            <tr>
                <td class="col-xs-2">プロフィール画像</td>
                <td><%= image_tag @user.profile_image, size: "200x200" %></td>
            <tr>


            <tr>
                <td class="col-xs-2">氏名</td>
                <td><%= @user.last_name %>&nbsp;<%= @user.first_name %></td>
            </tr>


            <tr>
                <td class="col-xs-2">カナ</td>
                <td><%= @user.last_name_kana %>&nbsp;<%= @user.first_name_kana %></td>
            </tr>


            <tr>
                <td class="col-xs-2">メールアドレス</td>
                <td><%= @user.email %></td>


             <tr>
                <td class="col-xs-2">自己紹介文</td>
                <td><%= @user.introduction %></td>


            </tr>
        </table>
  </div>
</div>